body
{
    padding:0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
    color: white;
    overflow: hidden;
    overflow-x:auto ;
}
.main
{
    display: flex;
    height: 100vh;
}
/* .header
{
    background-color: red;
    height: 65px;
} */
.sb
{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}
.sb1
{   
    padding: 0.5rem 0.5rem ;
    border-radius: 0.75rem;
    height: 100px;
    margin: 0.5rem;
    width: 310px;
    margin-bottom: 0;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    
    justify-content: center;

}
.nav_option a
{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}
.sb1 .nav_option i
{
    font-size: 1.25rem;
}
.sb1 .nav_option
{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem;
}
.sb1 .nav_option:hover
{
    opacity: 1;
}
.sb2
{   
    height: 73%;
    width: 310px;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem ;
    border-radius: 0.75rem;
    background-color: #121212;
    font-size: 1.25rem;
}
.mc
{
    background-color: #121212;
    flex:1;
    border-radius: 0.75rem;
    overflow: auto;
    height: 91.25%;
    padding: 0 1.5rem 0 1.5rem;
}
.opt 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.7rem;
    opacity: 0.7;
   
}
.opt .nav_option
{
    opacity: 0.7;
}
.opt .nav_option:hover{
    opacity: 1;
    
}

.opt .nav_option img
{
    height: 1.25rem;
    width: 1.25rem;
}
.icons
{
    font-size: 1.25rem;
    display: flex;
    
}
.icons i
{
    margin-right: 1rem;
    opacity: 0.7;
    padding: 5px;
    border-radius: 50%;

}
.icons i:hover
{
    opacity: 1;
    background-color: #414141d1;
}
.box
{
    width: 85%;
    background-color:#232323;
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
    padding: 0.3rem 1.25rem;
    padding-bottom:1.25rem;
    border-radius: 0.75rem;
}

.b1p1
{
    font-size: 1rem;
    font-weight: 600;
}
.b2p2
{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge
{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 0.75rem;
    font-weight: 600;
    font-size: 0.75rem;
    margin-top:0.5rem ;
    height: 2rem;
    width: fit-content;
}

.header
{   padding-top: 1rem;
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 10;
}
.hi
{
    position: relative;
    top: 0.7rem;
    left: 0.75rem;
}
.hb
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
}
.hbb
{
    margin-right: 1rem;
}
@media (max-width:1000px) {
    .hide
    {
        display: none;
    }
}
.card:hover
{
    background-color: #232323;

}
.card
{
    background-color: #121212;
    width: 180px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.class-container
{
    display: flex;
    flex-wrap: wrap;

}
.card-img
{
    width: 100%;
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;

}
.title
{
    font-weight: 600;
}
.info
{
    font-size: 0.75rem;
    opacity: 0.75;
}

.f
{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line
{
    height: 50%;
    width: 95%;
    border-top: 1px solid white;
    opacity: 0.4;
}




.footer
{   
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 97px;
    width: 100%;
    display: flex;
}

.album
{
    width: 25%;
    height: 100%;
}
.player
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.control
{
    width: 25%;
    height: 100%;
}
.player-control
{
    height: 16px;
   margin-right: 1.7rem;
   opacity: 0.6;

}
.player-controls
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 1.3rem;
}
.control
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 2rem;
    margin-right: 1rem;
   
}
.control-control2
{
    height: 20px;
    margin-left: 1rem;
    opacity: 1;
 
}
.control-control1
{
    height: 40px;
    margin-left: 1rem;
    opacity: 1;
 
}
.player-control:hover
{
    opacity: 1;
}
.player-bar
{
    width: 75%;
  display: flex;
  align-items:center ;
  justify-content: end;
  margin-top: 0.5rem;
}
.progress-bar
{
    width: 100%;
   
    margin: 0rem 0.5rem;
    appearance: none;
    cursor: pointer;
   
}

.progress-bar::-webkit-slider-runnable-track
{
    background-color: #515151b0;
    height: 0.2rem;
    border-radius:100px;
}
.progress-bar::-webkit-slider-thumb
{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.control-control
{
    appearance: none;
    width: 20%;
}
.control-control::-webkit-slider-runnable-track
{
    background-color: #515151b0;
    height: 0.2rem;
    border-radius:100px;
}
.control-control::-webkit-slider-thumb
{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.player-bar span
{
    font-size: 0.75rem;
}
.album
{
    margin: 1rem;
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
}
.sn
{   height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-left:1rem;
    justify-content: center;
}